

<html>
    <head>
        <title>Job Board - {{ job.title }}</title>
    </head>

<body>
    <div>
        <h1>{{ job.title }} at {{ job.company }}</h1>
        <p>{{ job.detail }}</p>
        <hr>
        <p>Subscribe to this Job Posting by submitting your email id:</p>
        <form action="/jobs/{{ job.id }}/subscribe/" method="post">
            {% csrf_token %}
            <input type="email" name="email" placeholder="enter your email id">
            <input type="submit" value="Subscribe">
        </form>
        <hr>
    </div>
</body>
</html>